@use '../../theme/palette' as *;
@use '../../theme/fonts' as *;

:host
{
    display: contents;
}

textarea
{
    border: 1px solid $blue-steel;
    box-sizing: border-box;
    font-family: $font-sans;
    font-size: 11px;
    padding: 3px 4px;
    resize: both;

    &::selection
    {
        background: var(--dialog-blue);
        color: $white;
    }

    &:focus
    {
        outline: none;
        box-shadow: inset 2px 2px $white, inset -2px -2px $white;
    }
}
