@use '../../theme/palette' as *;
@use '../../theme/typography' as *;

:host
{
    display: contents;
}

[role="tabpanel"]
{
    background: $beige-lighter;
    border: 1px solid $gray-dark;
    border-left-color: $gray-light;
    border-top-color: $gray-light;
    padding: $spacing-sm;
}
