@use '../../theme/palette' as *;

:host
{
    display: contents;
}

menu[role="tablist"]
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    button
    {
        background: linear-gradient(
            180deg,
            $white 0%,
            $off-white-warm 26%,
            $cream-pale 95%,
            $beige-light 100%
        );
        border-color: $blue-steel-light;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-left: -1px;
        margin-right: 2px;
        padding: 0 12px 3px;

        &:hover
        {
            border-top: 1px solid $orange-dark;
            box-shadow: inset 0px 2px $yellow-gold;
        }

        &[aria-selected="true"]
        {
            background: $off-white;
            border-bottom: 1px solid transparent;
            border-color: $blue-gray;
            border-top: 1px solid $orange-dark;
            box-shadow: inset 0px 2px $yellow-gold;
            margin-right: -1px;

            &:first-of-type::before
            {
                border-left: 1px solid $blue-gray;
                content: "";
                display: block;
                height: 2px;
                left: -1px;
                position: absolute;
                top: 100%;
                width: 0;
                z-index: -1;
            }
        }
    }
}
