@use '../../theme/palette' as *;
@use '../../theme/graphics' as *;

:host
{
    display: contents;
}

input[type="range"]
{
    &::-webkit-slider-thumb
    {
        background: $slider-thumb-svg;
        height: 21px;
        transform: translateY(-8px);
        width: 11px;
    }

    &::-moz-range-thumb
    {
        background: $slider-thumb-svg;
        border: 0;
        border-radius: 0;
        height: 21px;
        transform: translateY(2px);
        width: 11px;
    }

    &::-webkit-slider-runnable-track
    {
        background: $beige-lighter;
        border-bottom: 1px solid $cream;
        border-radius: 2px;
        border-right: 1px solid $cream;
        box-shadow:
            1px 0 0 $white,
            1px 1px 0 $white,
            0 1px 0 $white,
            -1px 0 0 $gray-dark,
            -1px -1px 0 $gray-dark,
            0 -1px 0 $gray-dark,
            -1px 1px 0 $white,
            1px -1px $gray-dark;
        box-sizing: border-box;
        height: 2px;
        width: 100%;
    }

    &::-moz-range-track
    {
        background: $beige-lighter;
        border-bottom: 1px solid $cream;
        border-radius: 2px;
        border-right: 1px solid $cream;
        box-shadow:
            1px 0 0 $white,
            1px 1px 0 $white,
            0 1px 0 $white,
            -1px 0 0 $gray-dark,
            -1px -1px 0 $gray-dark,
            0 -1px 0 $gray-dark,
            -1px 1px 0 $white,
            1px -1px $gray-dark;
        box-sizing: border-box;
        height: 2px;
        width: 100%;
    }
}

input[type="range"].has-box-indicator
{
    &::-webkit-slider-thumb
    {
        background: $slider-thumb-svg;
        transform: translateY(-10px);
    }

    &::-moz-range-thumb
    {
        background: $slider-thumb-svg;
        transform: translateY(0px);
    }
}

.is-vertical > input[type="range"]
{
    &::-webkit-slider-runnable-track
    {
        border-bottom: 1px solid $cream;
        border-left: 1px solid $cream;
        border-right: 0;
        box-shadow:
            -1px 0 0 $white,
            -1px 1px 0 $white,
            0 1px 0 $white,
            1px 0 0 $gray-dark,
            1px -1px 0 $gray-dark,
            0 -1px 0 $gray-dark,
            1px 1px 0 $white,
            -1px -1px $gray-dark;
    }

    &::-moz-range-track
    {
        border-bottom: 1px solid $cream;
        border-left: 1px solid $cream;
        border-right: 0;
        box-shadow:
            -1px 0 0 $white,
            -1px 1px 0 $white,
            0 1px 0 $white,
            1px 0 0 $gray-dark,
            1px -1px 0 $gray-dark,
            0 -1px 0 $gray-dark,
            1px 1px 0 $white,
            -1px -1px $gray-dark;
    }
}
