@use '../../theme/palette' as *;
@use '../../theme/typography' as *;

:host
{
    display: contents;
}

fieldset
{
    background: $white;
    border: 1px solid $beige-khaki;
    border-radius: $border-radius-md;
    box-shadow: none;
    padding: $spacing-sm;
}

legend
{
    background: $white;
    border: 1px solid $beige-khaki;
    border-radius: $border-radius-base;
    color: $black;
    font-size: $legend-font-size;
    line-height: $legend-line-height;
    padding: $legend-padding-y $legend-padding-x;
}

.field-row
{
    align-items: center;
    display: flex;

    > * + *
    {
        margin-left: var(--grouped-element-spacing);
    }
}

[class^="field-row"] + [class^="field-row"]
{
    margin-top: var(--grouped-element-spacing);
}

.field-row-stacked
{
    display: flex;
    flex-direction: column;

    * + *
    {
        margin-top: var(--grouped-element-spacing);
    }
}
