@use '../../theme/palette' as *;

:host
{
    display: contents;
}

@keyframes sliding
{
    0%
    {
        transform: translateX(-30px);
    }

    100%
    {
        transform: translateX(100%);
    }
}

progress
{
    &,
    &[value],
    &:not([value])
    {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: $white;
        border: 1px solid $gray-darkest;
        border-radius: 4px;
        box-shadow: inset 0px 0px 1px 0px rgba(104, 104, 104, 1);
        box-sizing: border-box;
        height: 14px;
        overflow: hidden;
        padding: 1px 2px 1px 0px;
    }

    &[value]
    {
        &::-webkit-progress-bar
        {
            background-color: transparent;
        }

        &::-webkit-progress-value
        {
            background: repeating-linear-gradient(
                    to right,
                    $white 0px,
                    $white 2px,
                    transparent 2px,
                    transparent 10px
                ),
                linear-gradient(
                    to bottom,
                    $green-mint 0%,
                    $green-lighter 14%,
                    $green 28%,
                    $green-darkest 42%,
                    $green-dark 57%,
                    $green-light 71%,
                    $green-lightest 85%,
                    $white 100%
                );
            border-radius: 2px;
        }

        &::-moz-progress-bar
        {
            background: repeating-linear-gradient(
                    to right,
                    $white 0px,
                    $white 2px,
                    transparent 2px,
                    transparent 10px
                ),
                linear-gradient(
                    to bottom,
                    $green-mint 0%,
                    $green-lighter 14%,
                    $green 28%,
                    $green-darkest 42%,
                    $green-dark 57%,
                    $green-light 71%,
                    $green-lightest 85%,
                    $white 100%
                );
            border-radius: 2px;
        }
    }

    &:not([value])
    {
        &::-webkit-progress-bar
        {
            animation: sliding 2s linear 0s infinite;
            background: repeating-linear-gradient(
                    to right,
                    transparent 0px,
                    transparent 8px,
                    $white 8px,
                    $white 10px,
                    transparent 10px,
                    transparent 18px,
                    $white 18px,
                    $white 20px,
                    transparent 20px,
                    transparent 28px,
                    $white 28px,
                    $white 100%
                ),
                linear-gradient(
                    to bottom,
                    $green-mint 0%,
                    $green-lighter 14%,
                    $green 28%,
                    $green-darkest 42%,
                    $green-dark 57%,
                    $green-light 71%,
                    $green-lightest 85%,
                    $white 100%
                );
            width: 100%;
        }

        &
        {
            position: relative;
        }

        &::before
        {
            background-color: $white;
            box-shadow: inset 0px 0px 1px 0px rgba(104, 104, 104, 1);
            box-sizing: border-box;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &::after
        {
            animation: sliding 2s linear 0s infinite;
            background: repeating-linear-gradient(
                    to right,
                    transparent 0px,
                    transparent 8px,
                    $white 8px,
                    $white 10px,
                    transparent 10px,
                    transparent 18px,
                    $white 18px,
                    $white 20px,
                    transparent 20px,
                    transparent 28px,
                    $white 28px,
                    $white 100%
                ),
                linear-gradient(
                    to bottom,
                    $green-mint 0%,
                    $green-lighter 14%,
                    $green 28%,
                    $green-darkest 42%,
                    $green-dark 57%,
                    $green-light 71%,
                    $green-lightest 85%,
                    $white 100%
                );
            border-radius: 2px;
            box-sizing: border-box;
            content: "";
            height: calc(100% - 2px);
            left: 2px;
            padding: 1px 2px 1px 2px;
            position: absolute;
            top: 1px;
            width: 100%;
        }

        &::-moz-progress-bar
        {
            animation: sliding 2s linear 0s infinite;
            background: repeating-linear-gradient(
                    to right,
                    transparent 0px,
                    transparent 8px,
                    $white 8px,
                    $white 10px,
                    transparent 10px,
                    transparent 18px,
                    $white 18px,
                    $white 20px,
                    transparent 20px,
                    transparent 28px,
                    $white 28px,
                    $white 100%
                ),
                linear-gradient(
                    to bottom,
                    $green-mint 0%,
                    $green-lighter 14%,
                    $green 28%,
                    $green-darkest 42%,
                    $green-dark 57%,
                    $green-light 71%,
                    $green-lightest 85%,
                    $white 100%
                );
            width: 100%;
        }
    }
}
