@import 'palette';
@import 'graphics';

::-webkit-scrollbar
{
    width: 17px;
}

::-webkit-scrollbar-corner
{
    background: var(--button-face);
}

::-webkit-scrollbar-track
{
    &:vertical
    {
        background-image: $scrollbar-track-svg;
    }

    &:horizontal
    {
        background-image: $scrollbar-track-svg;
    }
}

::-webkit-scrollbar-thumb
{
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c8d6fb;
    background-size: 7px;
    border: 1px solid $white;
    border-radius: 2px;
    box-shadow: inset -3px 0 #bad1fc, inset 1px 1px #b7caf5;

    &:vertical
    {
        background-image: $scrollbar-thumb-vertical-svg;
    }

    &:horizontal
    {
        background-size: 8px;
        background-image: $scrollbar-thumb-horizontal-svg;
    }
}

::-webkit-scrollbar-button
{
    &:vertical
    {
        &:start
        {
            height: 17px;
            background-image: $scrollbar-arrow-up-svg;
        }

        &:end
        {
            height: 17px;
            background-image: $scrollbar-arrow-down-svg;
        }
    }

    &:horizontal
    {
        &:start
        {
            width: 17px;
            background-image: $scrollbar-arrow-left-svg;
        }

        &:end
        {
            width: 17px;
            background-image: $scrollbar-arrow-right-svg;
        }
    }
}
