@use 'palette' as *;
@use 'graphics' as *;

.cdk-visually-hidden
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    left: 0;
}

::-webkit-scrollbar
{
    width: 17px;
}

::-webkit-scrollbar-corner
{
    background: var(--button-face);
}

::-webkit-scrollbar-track
{
    &:vertical
    {
        background-image: $scrollbar-track-svg;
    }

    &:horizontal
    {
        background-image: $scrollbar-track-svg;
    }
}

::-webkit-scrollbar-thumb
{
    background-color: #c8d6fb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7px;
    border: 1px solid $white;
    border-radius: 2px;
    box-shadow: inset -3px 0 #bad1fc, inset 1px 1px #b7caf5;

    &:vertical
    {
        background-image: $scrollbar-thumb-vertical-svg;
    }

    &:horizontal
    {
        background-image: $scrollbar-thumb-horizontal-svg;
        background-size: 8px;
    }
}

::-webkit-scrollbar-button
{
    &:vertical
    {
        &:start
        {
            height: 17px;
            background-image: $scrollbar-arrow-up-svg;
        }

        &:end
        {
            height: 17px;
            background-image: $scrollbar-arrow-down-svg;
        }
    }

    &:horizontal
    {
        &:start
        {
            width: 17px;
            background-image: $scrollbar-arrow-left-svg;
        }

        &:end
        {
            width: 17px;
            background-image: $scrollbar-arrow-right-svg;
        }
    }
}
