@use 'z-layers' as *;

.luna-modal-backdrop
{
    background: rgba(0, 0, 0, 0.5);
    cursor: default;
    z-index: 0;

    &:focus
    {
        outline: none;
    }
}

.luna-modal-pane
{
    z-index: 1;
}
