@use '../../src/theme/global' as *;
@use '../../src/theme/palette' as *;
@use '../../src/theme/modal' as *;
@use '../../src/theme/tooltip' as *;

body
{
    background: $silver;
    margin: 0;
    padding: 20px;
}
