@use '../../theme/palette' as *;
@use '../../theme/fonts' as *;
@use '../../theme/graphics' as *;

:host
{
    display: contents;
}

.window
{
    background: $beige-light;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow:
        inset -1px -1px $navy-darkest,
        inset 1px 1px $blue-bright-lighter,
        inset -2px -2px $navy-dark,
        inset 2px 2px $blue-sky,
        inset -3px -3px $blue-bright-darkest,
        inset 3px 3px $blue-bright-lightest;
    overflow: hidden;
    padding: 3px;
}

.title-bar
{
    align-items: center;
    background: linear-gradient(
        180deg,
        $blue-sky-dark 0%,
        $blue-bright 8%,
        $blue-bright-dark 40%,
        $blue-bright-medium 88%,
        $blue-bright-medium 93%,
        $blue-bright-light 95%,
        $blue-bright-darker 96%,
        $blue-bright-darker 100%
    );
    border-bottom: none;
    border-left: 1px solid $blue-bright-lighter;
    border-right: 1px solid $navy-dark;
    border-top: 1px solid $blue-bright-lighter;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    display: flex;
    font-family: $font-sans;
    font-size: 13px;
    height: 21px;
    justify-content: space-between;
    margin: 0;
    padding: 3px 5px 3px 3px;
    text-shadow: 1px 1px $navy-darker;
    width: 100%;
}

.title-bar-text
{
    padding-left: 3px;
}

.title-bar-controls
{
    display: flex;

    button
    {
        background-color: $blue-bright-dark;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        box-shadow: none;
        margin-left: 2px;
        min-height: 21px;
        min-width: 21px;
        transition: background 100ms;

        &:active,
        &:hover,
        &:focus
        {
            box-shadow: none !important;
        }
    }

    button[aria-label="Minimize"]
    {
        background-image: $window-minimize-svg;

        &:hover
        {
            background-image: $window-minimize-hover-svg;
        }

        &:not(:disabled):active
        {
            background-image: $window-minimize-active-svg;
        }
    }

    button[aria-label="Maximize"]
    {
        background-image: $window-maximize-svg;

        &:hover
        {
            background-image: $window-maximize-hover-svg;
        }

        &:not(:disabled):active
        {
            background-image: $window-maximize-active-svg;
        }
    }

    button[aria-label="Restore"]
    {
        background-image: $window-restore-svg;

        &:hover
        {
            background-image: $window-restore-hover-svg;
        }

        &:not(:disabled):active
        {
            background-image: $window-restore-active-svg;
        }
    }

    button[aria-label="Help"]
    {
        background-image: $window-help-svg;

        &:hover
        {
            background-image: $window-help-hover-svg;
        }

        &:not(:disabled):active
        {
            background-image: $window-help-active-svg;
        }
    }

    button[aria-label="Close"]
    {
        background-image: $window-close-svg;

        &:hover
        {
            background-image: $window-close-hover-svg;
        }

        &:not(:disabled):active
        {
            background-image: $window-close-active-svg;
        }
    }
}

.window-body
{
    background: $beige-light;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin: 0;
    padding: 8px;
    width: 100%;
}

.status-bar
{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: inset 0px 1px 2px var(--button-shadow);
    display: flex;
    gap: 0px;
    margin: 0;
    padding: 2px 1px;
    width: 100%;
}
