@use '../../theme/palette' as *;
@use '../../theme/fonts' as *;

:host
{
    display: contents;
}

input
{
    -webkit-font-smoothing: antialiased;
}

input[type="text"],
input[type="password"],
input[type="email"]
{
    height: 23px;
    font-family: $font-sans;
    font-size: 11px;
    padding: 3px 4px;
    border: 1px solid $blue-steel;
    box-sizing: border-box;

    &::selection
    {
        background: var(--dialog-blue);
        color: $white;
    }

    &:focus
    {
        outline: none;
        box-shadow: inset 2px 2px $white, inset -2px -2px $white;
    }
}
