@use '../../theme/palette' as *;
@use '../../theme/fonts' as *;

:host
{
    display: contents;
}


input[type="text"],
input[type="password"],
input[type="email"]
{
    border: 1px solid $blue-steel;
    box-sizing: border-box;
    font-family: $font-sans;
    font-size: 11px;
    height: 23px;
    padding: 3px 4px;

    &::selection
    {
        background: var(--dialog-blue);
        color: $white;
    }

    &:focus
    {
        outline: none;
        box-shadow: inset 2px 2px $white, inset -2px -2px $white;
    }
}
