@use '../../theme/palette' as *;
@use '../../theme/graphics' as *;

:host
{
    align-items: center;
    display: inline-flex;
}


input[type="radio"]
{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: 0;
    border: none;
    margin: 0;
    opacity: 0;
    position: fixed;

    + label
    {
        line-height: 16px;
        margin-left: 19px;
        position: relative;

        &::before
        {
            background: linear-gradient(
                135deg,
                $gray-light-warm 0%,
                $white 100%
            );
            border: 1px solid $blue-steel-dark;
            border-radius: 50%;
            box-sizing: border-box;
            content: "";
            display: inline-block;
            height: 13px;
            left: -19px;
            position: absolute;
            top: 0;
            width: 13px;
        }

        &::after
        {
            background: none;
            content: "";
            display: inline-block;
            height: 5px;
            left: -15px;
            position: absolute;
            top: 5px;
            width: 5px;
        }
    }

    &:not([disabled]):not(:active) + label:hover::before
    {
        box-shadow: inset -2px -2px $gold, inset 2px 2px $yellow-cream;
    }

    &:active + label::before
    {
        background: linear-gradient(
            135deg,
            $gray-darker 0%,
            $beige-pale 100%
        );
    }

    &:checked + label::after
    {
        background: $radio-dot-svg no-repeat center;
    }

    &:focus + label
    {
        outline: 1px dotted $black;
    }
}

input[type="radio"][disabled]
{
    + label::before
    {
        background: $white;
        border: 1px solid $beige-tan;
    }

    &:checked + label::after
    {
        opacity: 0.5;
    }
}
