// Native select styling including custom dropdown glyph from graphics.
@use '../../theme/palette' as *;
@use '../../theme/fonts' as *;
@use '../../theme/graphics' as *;
@use '../../theme/typography' as *;

:host
{
    display: contents;
}

select
{
    background-image: $select-dropdown-svg;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 15px;
    border: 1px solid #7f9db9;
    border-radius: $border-radius-sm;
    font-family: $font-sans;
    font-size: $input-font-size;
    line-height: $input-line-height;
    padding: $input-padding-y $input-padding-x;
    padding-right: 20px;

    &:focus
    {
        outline: none;
        box-shadow: inset 2px 2px $white, inset -2px -2px $white;
    }

    &:hover
    {
        background-image: $select-dropdown-hover-svg;
    }

    &:active
    {
        background-image: $select-dropdown-active-svg;
    }
}

