<!-- Gallery layout: overlay host, main window, menus, and control demos. -->
<luna-overlay></luna-overlay>
<luna-window
    id="main-window"
    [showClose]="false"
    [showHelp]="false"
    [showMaximize]="false"
    [showMinimize]="false"
    [title]="title">
    <luna-menu-bar>
        <luna-menu
            [items]="fileMenuItems"
            (itemSelect)="onFileMenuSelect($event)">
            <button lunaMenuTrigger type="button">
                File
            </button>
        </luna-menu>
        <luna-menu
            [items]="editMenuItems"
            (itemSelect)="onEditMenuSelect($event)">
            <button lunaMenuTrigger type="button">
                Edit
            </button>
        </luna-menu>
        <luna-menu
            [items]="viewMenuItems"
            (itemSelect)="onViewMenuSelect($event)">
            <button lunaMenuTrigger type="button">
                View
            </button>
        </luna-menu>
        <luna-menu
            [items]="optionsMenuItems"
            (itemSelect)="onOptionsMenuSelect($event)">
            <button lunaMenuTrigger type="button">
                Options
            </button>
        </luna-menu>
    </luna-menu-bar>
    <luna-tabs>
        <luna-tab
            id="buttons"
            label="Buttons">
            <h2>Button Component</h2>
            <p>Various button types and states:</p>
            
            <section class="control-group">
                <h3>Standard Buttons</h3>
                <luna-button>Default Button</luna-button>
                <luna-button [disabled]="true">Disabled Button</luna-button>
            </section>

            <section class="control-group">
                <h3>Button Types</h3>
                <luna-button type="button">Button</luna-button>
                <luna-button type="submit">Submit</luna-button>
                <luna-button type="reset">Reset</luna-button>
            </section>

            <section class="control-group">
                <h3>Buttons with Icons</h3>
                <luna-button>
                    <luna-icon [svg]="saveIcon" size="16"></luna-icon>
                    Save
                </luna-button>
                <luna-button>
                    <luna-icon [svg]="folderIcon" size="16"></luna-icon>
                    Open Folder
                </luna-button>
                <luna-button>
                    <luna-icon [svg]="searchIcon" size="16"></luna-icon>
                    Search
                </luna-button>
            </section>
        </luna-tab>

        <luna-tab
            id="icons"
            label="Icons">
            <h2>Icon Component</h2>
            <p>Lucide icons in various sizes:</p>

            <section class="control-group">
                <h3>Icon Sizes</h3>
                <ul class="icon-row">
                    <li class="icon-item">
                        <luna-icon [svg]="homeIcon" size="12"></luna-icon>
                        <span>12px</span>
                    </li>
                    <li class="icon-item">
                        <luna-icon [svg]="homeIcon" size="16"></luna-icon>
                        <span>16px</span>
                    </li>
                    <li class="icon-item">
                        <luna-icon [svg]="homeIcon" size="20"></luna-icon>
                        <span>20px</span>
                    </li>
                    <li class="icon-item">
                        <luna-icon [svg]="homeIcon" size="24"></luna-icon>
                        <span>24px</span>
                    </li>
                    <li class="icon-item">
                        <luna-icon [svg]="homeIcon" size="32"></luna-icon>
                        <span>32px</span>
                    </li>
                    <li class="icon-item">
                        <luna-icon [svg]="homeIcon" size="48"></luna-icon>
                        <span>48px</span>
                    </li>
                </ul>
            </section>

            <section class="control-group">
                <h3>Common Interface Icons</h3>
                <ul class="icon-grid">
                    <li class="icon-showcase">
                        <luna-icon [svg]="homeIcon" size="24"></luna-icon>
                        <span>Home</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="folderIcon" size="24"></luna-icon>
                        <span>Folder</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="fileIcon" size="24"></luna-icon>
                        <span>File</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="saveIcon" size="24"></luna-icon>
                        <span>Save</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="settingsIcon" size="24"></luna-icon>
                        <span>Settings</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="userIcon" size="24"></luna-icon>
                        <span>User</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="downloadIcon" size="24"></luna-icon>
                        <span>Download</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="uploadIcon" size="24"></luna-icon>
                        <span>Upload</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="searchIcon" size="24"></luna-icon>
                        <span>Search</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="copyIcon" size="24"></luna-icon>
                        <span>Copy</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="editIcon" size="24"></luna-icon>
                        <span>Edit</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="trash2Icon" size="24"></luna-icon>
                        <span>Trash</span>
                    </li>
                </ul>
            </section>

            <section class="control-group">
                <h3>Window Control Icons</h3>
                <ul class="icon-grid">
                    <li class="icon-showcase">
                        <luna-icon [svg]="minimize2Icon" size="24"></luna-icon>
                        <span>Minimize</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="maximize2Icon" size="24"></luna-icon>
                        <span>Maximize</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="xIcon" size="24"></luna-icon>
                        <span>Close</span>
                    </li>
                </ul>
            </section>

            <section class="control-group">
                <h3>Media Control Icons</h3>
                <ul class="icon-grid">
                    <li class="icon-showcase">
                        <luna-icon [svg]="playIcon" size="24"></luna-icon>
                        <span>Play</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="pauseIcon" size="24"></luna-icon>
                        <span>Pause</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="skipForwardIcon" size="24"></luna-icon>
                        <span>Skip</span>
                    </li>
                    <li class="icon-showcase">
                        <luna-icon [svg]="volume2Icon" size="24"></luna-icon>
                        <span>Volume</span>
                    </li>
                </ul>
            </section>
        </luna-tab>

        <luna-tab
            id="inputs"
            label="Inputs">
            <h2>Input Components</h2>

            <section class="control-group">
                <h3>Text Input</h3>
                <luna-input
                    [(ngModel)]="inputValue"
                    label="Username"
                    placeholder="Enter your username">
                </luna-input>
                <p>Current value: {{ inputValue }}</p>
            </section>

            <section class="control-group">
                <h3>Disabled Input</h3>
                <luna-input
                    [disabled]="true"
                    label="Disabled Field"
                    value="Cannot edit this">
                </luna-input>
            </section>

            <section class="control-group">
                <h3>Textarea</h3>
                <luna-textarea
                    [(ngModel)]="textareaValue"
                    label="Description"
                    placeholder="Enter a description..."
                    [rows]="5">
                </luna-textarea>
                <p>Character count: {{ textareaValue.length }}</p>
            </section>
        </luna-tab>

        <luna-tab
            id="selections"
            label="Selections">
            <h2>Selection Components</h2>

            <section class="control-group">
                <h3>Checkbox</h3>
                <luna-checkbox
                    [(ngModel)]="checkboxValue"
                    label="Enable notifications">
                </luna-checkbox>
                <p>Checked: {{ checkboxValue }}</p>
            </section>

            <section class="control-group">
                <h3>Radio Buttons</h3>
                <luna-fieldset legend="Choose an option">
                    <luna-radio
                        [(ngModel)]="radioValue"
                        label="Option 1"
                        name="radio-demo"
                        value="option1">
                    </luna-radio>
                    <luna-radio
                        [(ngModel)]="radioValue"
                        label="Option 2"
                        name="radio-demo"
                        value="option2">
                    </luna-radio>
                    <luna-radio
                        [(ngModel)]="radioValue"
                        label="Option 3"
                        name="radio-demo"
                        value="option3">
                    </luna-radio>
                </luna-fieldset>
                <p>Selected: {{ radioValue }}</p>
            </section>

            <section class="control-group">
                <h3>Select Dropdown</h3>
                <luna-select
                    [(ngModel)]="selectValue"
                    label="Choose a color">
                    <option value="option1">Red</option>
                    <option value="option2">Green</option>
                    <option value="option3">Blue</option>
                    <option value="option4">Yellow</option>
                </luna-select>
                <p>Selected: {{ selectValue }}</p>
            </section>
        </luna-tab>

        <luna-tab
            id="progress"
            label="Progress">
            <h2>Progress &amp; Slider Components</h2>

            <section class="control-group">
                <h3>Progress Bar</h3>
                <luna-progress
                    [max]="100"
                    [value]="progressValue">
                </luna-progress>
                <p>Progress: {{ progressValue }}%</p>
            </section>

            <section class="control-group">
                <h3>Slider</h3>
                <luna-slider
                    [(ngModel)]="sliderValue"
                    label="Volume"
                    [max]="100"
                    [min]="0">
                </luna-slider>
                <p>Value: {{ sliderValue }}</p>
            </section>
        </luna-tab>

        <luna-tab
            id="layout"
            label="Layout">
            <h2>Layout Components</h2>

            <section class="control-group">
                <h3>Fieldset</h3>
                <luna-fieldset legend="User Information">
                    <luna-input
                        label="First Name"
                        placeholder="John">
                    </luna-input>
                    <luna-input
                        label="Last Name"
                        placeholder="Doe">
                    </luna-input>
                    <luna-input
                        label="Email"
                        placeholder="john.doe@example.com"
                        type="email">
                    </luna-input>
                </luna-fieldset>
            </section>

            <section class="control-group">
                <h3>Window</h3>
                <p>This entire demo is contained within a luna-window component.</p>
                <p>Windows support title bars with minimize, maximize, close, and help buttons.</p>
            </section>
        </luna-tab>

        <luna-tab
            id="modal"
            label="Modal">
            <h2>Modal Service</h2>
            <p>LunaModalService shows dialogs with a dimmed backdrop. No template markup required; use from code.</p>

            <section class="control-group">
                <h3>Alert (OK only)</h3>
                <luna-button (click)="onAlert()">Show Alert</luna-button>
            </section>

            <section class="control-group">
                <h3>Confirm (OK and Cancel)</h3>
                <luna-button (click)="onConfirm()">Show Confirm</luna-button>
            </section>

            <section class="control-group">
                <h3>Confirm with custom labels and return values</h3>
                <luna-button (click)="onConfirmWith()">Show Yes/No dialog</luna-button>
            </section>

            <section class="control-group">
                <h3>Prompt (OK and Cancel, returns string)</h3>
                <luna-button (click)="onPrompt()">Show Prompt</luna-button>
            </section>

            <section class="control-group">
                <h3>Prompt with options (default value, placeholder, labels)</h3>
                <luna-button (click)="onPromptWith()">Show Save As prompt</luna-button>
            </section>

            <section
                *ngIf="modalResult"
                class="control-group modal-result">
                <h3>Last result</h3>
                <p>{{ modalResult }}</p>
            </section>
        </luna-tab>

        <luna-tab
            id="tooltip"
            label="Tooltip">
            <h2>Tooltip</h2>
            <p>Use the <code>lunaTooltip</code> directive on any element.</p>

            <section class="control-group">
                <h3>On buttons</h3>
                <luna-button [lunaTooltip]="'Save the document'">Save</luna-button>
                <luna-button [lunaTooltip]="'Open a folder'">
                    <luna-icon [svg]="folderIcon" size="16"></luna-icon>
                    Open
                </luna-button>
                <luna-button [lunaTooltip]="'Search files'">
                    <luna-icon [svg]="searchIcon" size="16"></luna-icon>
                    Search
                </luna-button>
            </section>

            <section class="control-group">
                <h3>On text and icons</h3>
                <p>
                    <span [lunaTooltip]="'Tooltip on a span'">Hover this text</span>
                    and
                    <span [lunaTooltip]="'Home icon'"><luna-icon [svg]="homeIcon" size="16"></luna-icon></span>
                    to see tooltips.
                </p>
            </section>
        </luna-tab>

        <luna-tab
            id="about"
            label="About">
            <h2>About ng-luna</h2>
            <p>ng-luna is an Angular component library that provides retro Windows-styled UI components.</p>
            
            <h3>Features</h3>
            <ul>
                <li>Standalone Angular components</li>
                <li>Retro Windows aesthetic</li>
                <li>Accessible with ARIA support</li>
                <li>Keyboard navigation</li>
                <li>IBM Plex font family</li>
            </ul>

            <h3>Available Components</h3>
            <ul>
                <li>Button</li>
                <li>Checkbox</li>
                <li>Fieldset</li>
                <li>Input</li>
                <li>Modal (LunaModalService)</li>
                <li>Progress</li>
                <li>Tooltip</li>
                <li>Radio</li>
                <li>Select</li>
                <li>Slider</li>
                <li>Tabs</li>
                <li>Textarea</li>
                <li>Window</li>
            </ul>
        </luna-tab>
    </luna-tabs>
</luna-window>
