$navy-blue: #003c74;
$blue: #89ade4;
$blue-medium: #98b8ea;
$blue-light: #bcd4f6;
$blue-lightest: #cee7ff;

$orange: #e5a01a;
$yellow-medium: #fbc761;
$yellow-light: #fdd889;
$cream-light: #fff0cf;

$gray-medium: #cdcac3;
$beige-medium: #d8d0c4;
$gray-light: #e3e3db;
$beige-light: #ecebe5;
$gray-lighter: #e5e5de;
$gray-lightest: #f2f2f1;
$white: #ffffff;
